{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "lineWidth": 120,
  "semi": false,
  "printWidth": 120
}
